<!-- Buttons for Calculator (Form would appear onclick). Hidden for now-->

<div id="buttons"> 
 <button  mat-raised-button class="button">
    Addition
 </button>

 <button  mat-raised-button class="button">
  Subtraction
</button>

<button  mat-raised-button class="button">
  Multiplication
</button>

<button mat-raised-button class="button">
  Division
</button>

</div>



<div id="buttons2">

    <form [formGroup]="form">
      <label for="number1">Enter your first number:</label><br>
      <input class="form-control" type="text" id="number1" name="number1" formControlName="number1" #number1><br>
  
      <label for="number2">Enter your second number::</label><br>
      <input class="form-control" type="text" id="number2" name="number2" formControlName="number2" #number2><br><br>
  
      <button type="submit" (click)="clickme(number1.value, number2.value)" (click)="submitForm()">Add</button>
      <input id="subtract" type="submit" value="Subtract"><br>
      <input id="divide" type="submit" value="Divide"><br>
      <input id="multiply" type="submit" value="Multiply"><br>
    </form>
  </div>
  <p>{{ number1 }} {{ number2 }}</p>

<app-calc></app-calc>