#buttons {
margin-left: 40%;
margin-top: 22%;
opacity: 0;
}

.button {
    margin: 20px;
}

#buttons2 {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    border-radius: 15px 50px;;
    padding: 30px;
    text-align: center;
}

#buttons3 {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    padding: 10px;
    text-align: center;
}

#sub {
    padding: 3px;
    margin: 1%;

}