<div id="buttons2">

    <form [formGroup]="form">
      <label for="number1">Enter your first number:</label><br>
      <input class="form-control" type="text" id="number1" name="number1" formControlName="number1" #number1><br>
  
      <label for="number2">Enter your second number:</label><br>
      <input class="form-control" type="text" id="number2" name="number2" formControlName="number2" #number2><br><br>
  
      <button id="sub" type="submit" (click)="clickme(number1.value, number2.value)" (click)="submitForm()">Add</button>
      <button id="sub" type="submit" (click)="clickme(number1.value, number2.value)" (click)="submitForm2()">Subtract</button>
      <button id="sub" type="submit" (click)="clickme(number1.value, number2.value)" (click)="submitForm3()">Divide</button>
      <button id="sub" type="submit" (click)="clickme(number1.value, number2.value)" (click)="submitForm4()">Multiply</button>
    </form>
  </div>
 <br>
  <div id="buttons3">
    <p>Results: {{ responseData | json }}</p>
  </div>

<app-calc></app-calc>