#buttons {
margin-left: 40%;
margin-top: 22%;
opacity: 0;
}

.button {
    margin: 20px;
}

#buttons2 {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    border: 3px solid grey;
    border-radius: 15px 50px;;
    padding: 30px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.027);
    
}

#buttons3 {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    padding: 10px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.027);
    border-radius: 20px;
}

#sub {
    padding: 3px;
    margin: 1%;
    

}
#results {
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 5%;
    height: 80%;
    margin-left: 47.6%;
    background-color:rgba(0, 0, 0, 0.0);
    border-radius: 18px;
    border: 0px solid #1E7EE2;
    
}


.card {
    float: left;
    margin-left: 5%;
    margin-top: 5%;

}
#results2 {
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 5%;
    height: 80%;
    margin-left: 47.6%;
 
    
}

#card {
    float:right;
    margin-top: 10%;
    margin-right: 5%;
}



#number1 {
    box-shadow: 2px 2px 7px 1px rgba(28,110,164,0.24);
}
#number2 {
    box-shadow: 2px 2px 7px 1px rgba(28,110,164,0.24);
}

#str1 {
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.24);
}

#str2 {
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.24);
}

